@charset "UTF-8";

table {
	width: 65%;
	min-width: 520px;
	max-width: 750px;
	border: 2px #99f solid;
	margin: 10px auto;
	margin-bottom: 50px;
}

table caption {
	text-align: center;
	font-size: 1.5em;
	color: red;
	margin: 20px;
}

table caption a {
	display: inline-block;
	position: 1s;
	margin: 5px;
}

table td {
	border: 1px #f99 solid;
	padding: 10px;
}

table td span {
	display: inline-block;
	width: 60px;
	text-align: center;
}